<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>index sample</title>
    </head>
    <body>
        <form action="http://127.0.0.1:5000/form" method="get">
            <div>
                <label for="name">名前</label>
                <input type="text" name="name">
            </div>
            <div>
                <label for="age">年齢</label>
                <input type="text" name="age">
            </div>
            <div>
                <input type="submit" value="送信">
            </div>
        </form>
    </body>
</html>
