<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>プログラム実行画面</title>
        <link rel="stylesheet" href="./static/css/pe_style.css">
        <script src="./static/js/program_execution.js"></script>
    </head>
    <body>
        <header>
            <div>
                <h1>paize実行アプリ</h1>
            </div>
            <div>
                <a href="{{ url_for('move') }}" >問題登録画面へ</a>
            </div>
        </header>
        <div>
            <nav>
                {% for title in screen_data %}
                <details>
                    <summary>{{ title.name }}</summary>
                    {% for problem in title.problems %}
                    <div class="problem">
                        <p id="{{ problem.id }}">{{ problem.name }} status:{{ problem.status }}</p>
                        <input type="hidden" name="expect" value="{{ problem.expect_output_data }}">
                        <input type="hidden" name="input" value="{{ problem.input_data }}">
                    </div>
                    {% endfor %}
                </details>
                {% endfor %}
            </nav>
            <main>
                <table>
                    <tr class="input">
                        <th>入力値</th>
                        <td id="input"></td>
                    </tr>
                    <tr class="input">
                        <th>期待する出力</th>
                        <td id="expect"></td>
                    </tr>
                    <tr class="output">
                        <th>コード<br>アウトプット</th>
                        <td id="output"></td>
                    </tr>
                    <tr class="result">
                        <th>判定</th>
                        <td id="result"></td>
                    </tr>
                </table>
                <div class="button-area">
                    <input type="button" id="exec" value="実行">
                </div>
            </main>
        </div>
        <footer></footer>
    </body>
</html>
